<%= form_for(@user) do |f| %>
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
      
    <%= render 'shared/errors', obj: @user if @user.errors.any? %>
    
        <div class="form-group form-input">
          <div class="control-label col-md-3">
            <%= f.label :username %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :username, class: "form-control", placeholder: "eg. rt5754", autofocus: true %>
          </div>
        </div>
        <div class="form-group form-input">
          <div class="control-label col-md-3">
            <%= f.label :password %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :password, class: "form-control", placeholder: "Min 8 characters" %>
          </div>
        </div>
        </div>
          <div class="form-group form-input">
            <div class="col-md-12">
              <%= f.submit class: 'btn btn-primary btn-lg btn-full' %>
            </div>
          </div>
          
        </div>
      </div>

<% end %>