<%= form_for(@post) do |f| %>
    
    <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/errors', obj: @post if @post.errors.any? %>
      <div class="form-group form-input">
        <div class="control-label col-md-3">
          <%= f.label :title %>
        </div>
        <div class="col-md-9">
          <%= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true %>
        </div>
      </div>
      <div class="form-group form-input">
        <div class="control-label col-md-3">
          <%= f.label :description %>
        </div>
        <div class="col-md-9">
          <%= f.text_area :description, rows: "5", class: "form-control", placeholder: "eg. rudi@rapstudios.co.za" %>
        </div>
      </div>
      <% hidden_field_tag :user_id, value: current_user %>
      <div class="form-group form-input">
        <div class="col-md-12">
          <%= f.submit class: 'btn btn-primary btn-lg btn-full' %>
        </div>
      </div>
    </div>
    
 
<% end %>
