  <% obj.each do |post| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel post-panel">
          <div class="post-title">
            <h4><%= link_to post.title, post_path(post), class: "post-link" %></h4>
          </div>
          <div class="post-body">
            <%= image_tag post.image.url %>
          </div>
          <div class="post-details">
            <div class="col-md-12 post-actions">
              <small> <%= pluralize(post.weighted_score, "Point") %></small>
            </div>
            <div class="col-md-12 post-actions">
                <%= upvote_link(current_user, post) %>
                <%= downvote_link(current_user, post) %>
            </div>  
          </div>
        </div>
      </div>
    </div>
  <% end %>