<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "CloneGag", root_path, class:"navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class= "<%= yield(:hot_classes)%>"><%= link_to "Hot", hot_path %></li>
        <li class= "<%= yield(:new_classes)%>"><%= link_to "New", new_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Post", new_post_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View profile", user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Log out', logout_path, method: :delete %></li>
          </ul>
          </li>
        <% else %>
          <li><a> <%= link_to "Login", login_path, class: "nav-link" %> </a></li>
          <li><a> <%= link_to "Sign Up", new_user_path, class: "nav-link" %> </a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>